/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input {
  box-sizing: border-box;
  color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    outline: none;
    border-radius: 4px;
      border: 1px solid #808080;
      width: 272px;
        height: 40px;
        padding: 8px 16px;
  width: 272px;
  height: 40px;
  margin-bottom: 23px;
}

input:hover {
  border: 1px solid #000;
}

input:active {
  color: #000;
  border: 1px solid #4E75FF;
}

input:disabled {
  background: #FAFAFA;
}

button {
color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 75px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
    background: #4E75FF;
    border: none;
}

button:hover {
background: #6C8CFF;
}

button:disabled {
color: #989898;
background: #CFCFCF;
}

.timer {
  display: flex;
  gap: 24px;
  color: #2E2F42;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1.6px;
}

.label {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
display: block;
}

.field {
  display: block;
  text-align: center;
}